h4 { 
	margin: 15px 0 5px 0; 
}

h4, p { 
	font-size: 1.2em; 
}

ul li { 
	display: inline; 
}

.wide {
	border-bottom: 1px #000 solid;
	width: 4000px;
}

div#mainContent ul#grid {
	list-style-type: none;
	margin: 20px auto 0;
	width: 800px;  /*was 468*/
	padding-left: 40px;
	list-style:none;
}

#grid li {
	float: left;
	margin: 0px 25px 25px 0px;
	list-style:none;
} 

.portfolio {
	padding-left: 20px;
	padding-top:5px;
	margin-left: 0px; margin-right: auto;  margin-top:0px;
	/*background-color: #ffd7ce;*/
	width: 550px; /*was 510*/
	/*these two properties will be inherited by .portfolio h2 and .portfolio p */
	font-family: 'GraublauWeb', arial, serif; 
	text-align: center;
	list-style:none;
}

.portfolio h2 {
	clear: both;
	font-size: 35px;
	font-weight: normal;
	color: #58595b;
}

.portfolio p {
	font-size: 15px;
	color: #58595b;
	/*text-shadow: 1px 1px 1px #aaa;
	*/
}

#grid li a:hover img {
	opacity:0.3;  filter:alpha(opacity=30);
	border:1px solid #000000;
}

#grid li img {
	background-color: #000000;
	border:1px solid #58595b;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 7px; margin: 0;
	width: 192px;
	height: 108px;
	list-style:none;
}

#grid li a {
	display: block;
	list-style:none;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background:transparent url(/tools/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
