body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	background-color: #565a5d;
	margin: 0;
}

a {
        font-size: 16px;
        color: #0000FF;
}

a:hover {
	color: #000B60;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 14px;
}

.topOfDiv {
	margin-top: 0;
	padding-top: 1em;	/* use em instead of px, so it will be relative to the font size */
}

.bottomOfDiv {
	margin-bottom: 0;
	padding-bottom: 1em;
}

img {
	border: none;
}

img.stanfordseal {
	width: 78px;
	height: 78px;
}

div.centeredImage {
	text-align: center;
}

div.suLogo {
	text-align: center;
}

a.tridigLogo img {
	vertical-align: middle;
	text-align: center;
}

div#header a {
        /* font-family: Arial, Helvetica, sans-serif; */
        font-size: 16px;
        color: #0000FF;
        text-decoration: none;
}

div#header a:hover {
	color: #000B60;
}

div#mastheadContainer {
	height: 97px;
	text-align: center;
}

div#navbar {
	background-image: url("../images/navbar-background.jpg");
	margin-left: auto;
	margin-right: auto;
	width: 815px;
	height: 29px;
}

.posts{
	margin: 0;
	padding-bottom: 5px;
}

#post ul, #related ul {
	padding-left: 80px;
}

#navbt{
	background-image: url(../images/navbt.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 5px;
	margin-left: auto;
	margin-right: auto;
}

#navbtBottom {
	clear: both;
  background-image: url(../images/bottom_field_02.jpg);
	background-repeat: no-repeat;
  background-position: center 0;
  height: 27px;
  margin-left: auto;
  margin-right: auto;
}

#navbar table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

#navbar td {
	margin: 0;
	padding: 0;
}

#navbar img {
	vertical-align: bottom;/* So we don't get the gap at the bottom that pushes the dropdowns down */
}

div#mainSideBarWrapper {
	width: 300px;
	position: relative;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-position-x: center;
	background-repeat: repeat-y;
}

div#sideBar {
        float: left;
        margin-right: auto;
	background-color: white;
}

div#mainContentWrapper, div.sponsors {
	width: 815px;
	margin-left: auto;
	float: center;
	margin-right: auto;
        background-image: url("../images/top_field_middle.gif");
	background-position-x: center;
        background-repeat: repeat-y;
	margin-top: 0;
	margin-bottom: 0;
}

div#mainLinks div {
	padding-top: 23px;
	float: left;
}

div#mainLinks div.leftImage {
	padding-left: 25px;
}

div#mainLinks div.clearFloats {
	clear: both;
}

div.eventsCalendar {
	padding-left: 20px;
}

div#buttonLinks {
	width: 815px;
  padding-top: 20px;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div#buttonLinks a {
	background-image: url(../images/top_field_middle.gif);
	background-repeat: repeat-y;
	background-position: center center;
	float: left;
	margin-left: 60px;
	padding-bottom: 0;
	padding-left: 0px;
	width: 181px;
	text-decoration: none;
}

div#buttonLinks p {
	text-align: left;
	font-size: 16px;
}

div#buttonLinks div.clearFloats {
        clear: both;
}

div.eventsMap {
	#padding-left: 20px;
}

div#mainContent {
	background-image: url("../images/top_field_middle.gif");
	background-repeat: repeat-y;
  background-position: center center;
	margin-top: 0;
	margin-left: auto;
  margin-right: auto;
	/* width: 815px; */
}

div#mainContent h1, div#mainContent h2, div#mainContent .ulWrapper, div#mainContent p {
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
	margin-left: auto;
  margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

div#mainContent ul {
	padding-left: 80px;
	padding-right: 40px;
}

div#mainContent ol {
	padding-left: 80px;
	padding-right: 40px;
}

div#release h1, div#release h2 {
	margin-top: 0;
	padding-left: 0;
}

div#release {
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
}

div#mainContent.eventsMap {
	#padding-left: 20px;
}

div#mainContent.eventsMap h1 {
	padding-left: 20px;
}

div#mainContent.eventsMap p {
	padding: 20 px;
}

div#mainContent table.lastTable {
	margin-top: 10px;
}

div#mainContent .ulWrapper {
	padding-bottom: 1em;
}

div#mainContent .ulWrapper p {
	margin: 0;
}

.ulWrapper ul {
	margin-bottom: 0;
}

div#mainContent ul p {
	margin-left: 0;
	padding-left: 0;
}

div#mainContent p.ulHead {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

div#mainContent table {
	margin-left: 25px;
	margin-right: 25px;
}

div#netfpgaImg {
	padding-top: 100px;
	padding-left: 20px;
	margin-bottom: 0;
	width: 335px;
	float: left;
}

div#netfpgaImgtest {
	padding-top: 100px;
	padding-left: 20px;
	margin-bottom: 0;
	width: 335px;
	float: left;
}

div#netfpgaBodyTop {
	height: 350px;
	position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 815px; 
}

div#netfpgaFeature {
	padding-left: 30px;
	width: 250px;
/*	position: relative;
	top: 0px; */
}

div#netfpgaFeature2 {
	padding-left: 30px;
	width: 350px;
 	margin-left: 430px;
	padding-top: 10px;
	margin-bottom: 20px;
/*	top: 0px; */
}

div#netfpgaFeature3 {
	width: 500px;
	background-color: #e1e1e3;
        padding-top: 5px;
	padding-bottom: 5px;
        font-size: 16px;
        height: 80px;
	margin-left: 157px;
/*	top: 0px; */
}

div#netfpgaFeature3 a {
        text-decoration: none;
}

div#netfpgaEquals {
	padding-top: 15px;
	padding-bottom: 0;
	width: 124px;
	float: left;
}

div#fpgaAPPS {
        float: left;
	padding-top: 10px;
        width: 250px;
        font-size: 16px;
	height: 40px;
}

div#fpgaAPPS a {
	/* text-decoration: none; */
}

div#fpgaAPPS p {
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

div#appImg {
	padding-top: 5px;
	width: 75px;
	max-height: 40px;
	float: left;
}

div#blogContent {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 815px;
}

div#fpgaBlurb2 {
  margin-left: auto;
	margin-right: auto;
  width: 815px;
}

div#fpgaBlurb2 {
  #padding-top: 1em;
}

div#fpgaBlurb2 a {
	text-decoration: none;	
}

div#fpgaBlurb2 p {
  margin-left: 55px;
	margin-top: 20px;
  margin-bottom: 20px;
	font-size: 16px;
}

div#fpgaBlurb2 span.highlight {
        color: #8b2222;
}

div#fpgaDiagram {
	float: right;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 20px;
}

div.sponsors {
	background-image: url("../images/top_field_middle.gif");
}

div.sponsors p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-left: 25px;
	font-size: 10px;
	color: #666;
}

div.sponsors.standalone p {
	padding-top: 15px;
}

div.sponsors table, div.sponsors table.subTable {
	border-collapse: collapse;
}

div.sponsors table {
	margin: 0.2em auto 0 auto;
}

div.sponsors table.subTable {
	margin: 0;
}

div.sponsors td, div.sponsors table.subTable td {
	margin: 0;
	padding: 0;
}

div.sponsors img, div.sponsors table.subTable img {
	margin: 0;
	padding: 0;
	border: none;
}

div.sponsors td.separator {
	border-right: 2px solid #999;
}

div#sitemap {
	background-image: url("../images/top_field_middle.gif");
	width: 815px;
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
}

div#sitemap div.separator {
	border: 2px solid #e1e1e1;
	width: 777px;
	margin-left: 18px;
	margin-top: 0;
}

div#sitemap table {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

div#sitemap th {
	color: #989898;
	text-transform: uppercase;
	text-align: left;
}

div#sitemap td.list {
	vertical-align: top;
	width: 120px;
}

div#sitemap td.list td {
	text-transform: capitalize;
}

div#footer {
	color: #656565;
	clear: both;
	text-align: center;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/footer_img.jpg);
	background-repeat: repeat-y;
	background-position: center center;
	height: 12px;
}

div#footer p {
	margin: 0;
	padding: 1em 0;
}

div#footer span.tridigPlug {
	font-weight: bold;
}

div.hr {
	border-bottom: 2px groove gray;
	margin-left: 25px;
	margin-right: 25px;
}

.blueText {
	color: #2166a9;
}

img.emailAt {
	vertical-align: top;
}

.vCrunchTop {
	margin-bottom: 0;
}

.vCrunchMiddle {
	margin-top: 0;
	margin-bottom: 0;
}

.vCrunchBottom {
	margin-top: 0;
}

p.videoObject {
	padding-top: 10px;
	padding-bottom: 10px;
}

#bottom_space {
        background:#565a5d;
        height:10px;
        width:815px;
        margin-left: auto;
        margin-right: auto;
}

.clear {
  clear: both;
}
