div#mainTutorial h1, div#mainTutorial h2, div#mainTutorial .ulWrapper, div#mainTutorial p {
  padding-left: 40px;
	padding-right: 40px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

div#mainTutorial .ulWrapper {
	padding-bottom: 1em;
}

div#mainTutorial .ulWrapper p {
	margin: 0;
}

div#mainTutorial ul p {
	margin-left: 0;
  padding-left: 0;
}

div#mainTutorial table.lastTable {
    margin-top: 10px;
}

div#mainTutorial table {
    margin-left: 30px;
}

div#mainTutorial table {
    padding-left: 7px;
}

h1#pagename {
	margin-top: 0;
}

address {
	padding-left: 25px;
	padding-right: 25px;
}

li.ulHead {
	padding: 0;
	margin: 0;
}

p.presentorHead {
	font-weight: bold;
}

p.presentorDescription {
	padding-bottom: 15px;
}

table#schedule {
	padding-left: 40px;
}

table#schedule caption {
	text-align: left;
	font-weight: bold;
	padding-left: 40px;
	padding-bottom: 12px;
}

table#schedule td.time {
	text-align: right;
}

table#schedule td.dash {
	text-align: center;
}

table#schedule td.agendaItem {
	text-align: left;
	padding-left: 10px;
}
