---
layout: page
---

<div class="posts">
  <ul>
    {% for post in site.categories.events %}
      <li>
        <div class="">
          <h1>{% if post.titlelink %}<a href="{{ post.titlelink }}">{% endif %}{{ post.title }}</a></h1>
          {% if post.presenter %}
          <h3>presenter: {{ post.presenter }}</h3>
          {% endif %}
          <h3><i>{{ post.eventdate | date: "%-d %B %Y" }}</i></h3>
          {% if post.location %}
            <h4>Location: {{ post.location }}</h4>
          {% endif %}
          {% if post.target %}
            <h4>Target Platform: {{ post.target }}</h4>
          {% endif %}
          {% if post.website %}
            <h4><a href="{{ post.website }}">Website</a></h4>
          {% endif %}
          <h4>{{ post.content }}</h4>
          <hr>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
