---
layout: default
title: NetFPGA
---
---
<div id="mainContent">
	<div id="fpgaBlurb2" style="padding-top:2px;">
		<p>
			<span class="highlight">The NetFPGA</span> is: <p/>
                                a line-rate, flexible, and open platform for <a href="publications.html">research</a>, and classroom experimentation.  More than 2,000 NetFPGA systems have been deployed at over <a href="deployment_map.html">150 institutions in over 40 countries around the world</a>.
</br></br>Watch the <a href="videos.html">Introductory Tutorial videos</a>, now online!
</br></br>A brand new board is coming up soon! <b>NetFPGA SUME!</b> If you are interested to learn more, please register <a href="SUME_reg_form.html"> here</a>!
<!-- </br></br>The NetFPGA 1G board has been replaced from the new <b>NetFPGA-1G-CML</b> board. If you are interested to see the NetFPGA-1G-CML repository and Wiki, please contact <a href="mailto:marklaverty AT boisestate.edu">marklaverty AT boisestate.edu</a>.  -->
                                </p>
  </div>
  <div id="netfpgaBodyTop" style="height: 230px;">
		<div id="netfpgaImgtest" style="padding-top: 0px; margin-left: 30px;">
			<center><a href="1G_specs.html">NetFPGA 1G (4x1G)</a></center>
			<img src="images/index/NetFPGA_upright_scaled.jpg" alt="NetFPGA" border="0">
			<center>{% include counter1G.html %} Boards Deployed</center>
	  </div>
    <div id="netfpgaImgtest" style="padding-top: 0px; margin-left: 30px;">
			<center><a href="10G_specs.html">NetFPGA 10G (4x10G)</a></center>
			<img src="images/index/NetFPGA10G_front_b_scaled_available.jpg" alt="NetFPGA" border="0">
      <center>{% include counter10G.html %} Boards Deployed</center>
    </div>
	</div>
	<div id="buttonLinks" style="padding-top: 0px;">              
		<a href="learn_more.html">
      <img src="images/index/i_button.png" alt="Learn More"/><h3>Learn More</h3>
      Project summary, videos, publications, tutorials </a>              
		<a href="get_started.html">
      <img src="images/index/power_button.png" alt="Get Started"/>
      <h3>Get Started</h3>
      Obtain NetFPGA hardware, download gateware &amp; software, review reference designs<br />
      <br /> 
      </a>
    <a href="develop.html">
      <img src="images/index/dev_button.png" alt="Develop"/>
      <h3>Develop</h3>
      Create user account, contribute your code, document your project </a>
  </div>
	<div class="clear"></div>
</div>

<div id="navbtBottom"></div>
{% include sponsors.html %}
---
<html>
<head>
<meta http-equiv="refresh" content="1;
URL=http://netfpga.org/site/#/">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56829819-2', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
<script type="text/javascript">
window.location = "site/#/";
</script>
<noscript>Sorry, your browser does not support javascript</noscript>
</body>
</html>
