---
layout: page
---

<p class="card btn btn-primary check-container">
  <input id="check-news" class="stretched-link" type="checkbox" data-toggle="collapse" href=".news-collapse" role="button" aria-controls="newsCollapse" aria-label="Checked checkbox to toggle on/off NetFPGA related news" checked>
  <label class="check-label" for="check-news">News</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-events" class="stretched-link" type="checkbox" data-toggle="collapse" href=".events-collapse" role="button" aria-controls="eventsCollapse" aria-label="Checked checkbox to toggle on/off NetFPGA related events" checked>
  <label class="check-label" for="check-events">Events</label>
</p>
<div class="posts">
    {% for post in site.posts %}
      <article class="collapse show {{ post.category }}-collapse">
        <div class="">
          <h1>{% if post.titlelink %}<a href="{{ post.titlelink }}">{% endif %}{{ post.title }}</a></h1>
          {% if post.presenter %}
            <h3>Presenter: {{ post.presenter }}</h3>
          {% endif %}
          <h3><i>{{ post.date | date: "%-d %B %Y" }}</i></h3>
          {% if post.location %}
            <h4>Location: {{ post.location }}</h4>
          {% endif %}
          {% if post.target %}
            <h4>Target Platform: {{ post.target }}</h4>
          {% endif %}
          {% if post.website %}
            <h4><a href="{{ post.website }}">Website</a></h4>
          {% endif %}
          <p>{{ post.content }}</p>
          <hr>
        </div>
      </article>
    {% endfor %}
</div>
