---
layout: page
---

<h1>Publications featuring NetFPGA</h1>
<p>A partial list of publications using the NetFPGA platform</p>
<p><i>the links for the addresses are, where possible, doi.org links</i></p>
<br>
<br>
{% include 2021-Publications.html %}
<hr>
<br>
{% include 2020-Publications.html %}
<hr>
<br>
{% include 2019-Publications.html %}
<hr>
<br>
{% include 2018-Publications.html %}
<hr>
<br>
{% include 2017-Publications.html %}
<hr>
<br>
{% include 2016-Publications.html %}
<hr>
<br>
{% include 2015-Publications.html %}
<hr>
<br>
{% include 2014-Publications.html %}
<hr>
<br>
{% include 2013-Publications.html %}
<hr>
<br>
{% include 2012-Publications.html %}
<hr>
<br>
{% include 2011-Publications.html %}
<hr>
<br>
{% include 2010-Publications.html %}
<hr>
<br>
{% include 2009-Publications.html %}
<hr>
<br>
{% include 2008-Publications.html %}
<hr>
<br>
{% include 2007-Publications.html %}
<hr>
<br>
{% include 2006-Publications.html %}
