<article class="ng-scope">
<h3> NetFPGA Beijing Tutorial </h3> <br><br>
<h4>
	Hands-on with the to build a Gigabit-rate Router at
	<a target="_blank" href="http://en.wikipedia.org/wiki/Beijing_Jiaotong_University" onclick="link_popup(this, ''); return false;">
		Beijing Jaiotong University
	</a>
</h4>
<p>
	Presented by: <a target="_blank" href="http://www.stanford.edu/~jwlockwd/" onclick="link_popup(this, ''); return false;">John W. Lockwood</a> and
	<a target="_blank" href="http://www.stanford.edu/~jyluo/" onclick="link_popup(this, ''); return false;">Jianying Luo</a> of the:
	NetFPGA group at Stanford University, Kevin Xie and
	<a target="_blank" href="http://www.trueif.com/~walkie" onclick="link_popup(this, ''); return false;">Walkie Que</a> of the
	<a target="_blank" href="http://www.xilinx.com/univ/" onclick="link_popup(this, ''); return false;">Xilinx University Program (XUP)</a> in China, and
	Defeng Li of <a target="_blank" href="http://www.huawei.com/" onclick="link_popup(this, ''); return false;">Huawei</a>
</p><br>
<p>Hosted by Prof. <a target="_blank" href="http://iplab.njtu.edu.cn/" onclick="link_popup(this, ''); return false;">Hongke Zhang</a></p><br>
<p>
	<b>Sponsored by:</b> <a target="_blank" href="http://www.xilinx.com/" onclick="link_popup(this, ''); return false;">Xilinx</a> and
	<a target="_blank" href="http://www.huawei.com/" onclick="link_popup(this, ''); return false;">Huawei</a>
</p><br>
<table>
	<tbody>
		<tr><td><b>Date: </b></td><td>April 23, 2008, 9am - 5pm</td></tr>
		<tr><td></td><td>and April 24, 2008, 9am-Noon (follow-up session)</td></tr>
	</tbody>
</table>
<table class="lastTable">
	<tbody>
		<tr><td><b>Location: </b></td>
			<td>
				<a target="_blank" href="http://iplab.njtu.edu.cn/" onclick="link_popup(this, ''); return false;">
					Next Generation Internet Research Laboratory</a>
			</td>
		</tr>
		<tr><td></td>
			<td>
				<a target="_blank" href="http://www.njtu.edu.cn/" onclick="link_popup(this, ''); return false;">Beijing Jiaotong University</a>
			</td>
		</tr>
		<tr><td></td><td>No. 3 of Shangyuan Residence Haidian District in Beijing</td></tr>
		<tr><td></td><td>No. 411 South of the No. 9 Teaching Building</td></tr>
		<tr><td></td><td>Beijing, China</td></tr>
	</tbody>
</table>
<br>
<h4>Background</h4>
<p>
	
	This full-day tutorial extends the material presented at 
	the Hot Interconnects tutorial and the SIGMETRICS tutorials in 2007.
</p>
<br>
<div class="centeredImage">
	<img src="https://lh4.googleusercontent.com/-CD4it0bm4KI/T4Sn7eII1qI/AAAAAAAAAGg/tu6XDGPXn3M/s967/DSC00339.JPG" width=80%>
	<img src="https://lh4.googleusercontent.com/-DkIEE95zSjU/T4Sn9IUNaLI/AAAAAAAAAHU/t7NjMY0OgqA/s967/DSC00344-NetFPGA_China_Workshop-LF.JPG" width=80%>
</div>
<br>
<!--<h4>About the presentors</h4>
<div class="ulWrapper">
	<ul>
	<li>{% include presentors/j_lockwood.html %}</li>
	<li>{% include presentors/j_luo.html %}</li>
	<li>{% include presentors/d_li.html %}</li>
	<li>{% include presentors/k_xie.html %}</li>
	<li>{% include presentors/w_que.html %}</li>
	</ul>
</div>-->

<!--<h2>Slides from the Event</h2>
<div class="ulWrapper">
	<ul>
		<li><a target="_blank" href="Beijing_NetFPGA_Tutorial-Rev3c-21_Apr_2008.pdf">Adobe .PDF</a> (2 slides/page for printing)</li>
		<li><a target="_blank" href="Beijing_NetFPGA_Tutorial-Rev3c-21_Apr_2008.ppt">PowerPoint .PPF</a> (editable)</li>
	</ul>
</div> -->


<h4>Photos from the Event</h4>
<div class="ulWrapper">
	<ul>
		<li><a target="_blank" href="https://plus.google.com/photos/110918079399442170385/albums/5729889259580717729?authkey=CLzr0f3C_caXRg">Beijing NetFPGA Tutorial-23 Apr 2008</a></li>
	</ul>
</div>
<br>
<h4>To Attend this Event </h4>
<p>
	To Register to attend, please 
	<a target="_blank" href="http://www.xilinx.com/univ/uwkshp1.htm" onclick="link_popup(this, ''); return false;">submit a registration form</a>
	and send email <a href="mailto: karen@seeddsp.com">here</a>
</p>
<p class="bottomOfDiv">[Registration for this event is now closed - Event at capacity]</p>
</article>