<p class="presentorHead">
	<a href="http://www.cl.cam.ac.uk/~awm22/" onclick="link_popup(this, ''); return false;">Andrew W. Moore</a>
</p>
<p class="presentorDescription">
Andrew W. Moore is a Lecturer at the University of Cambridge Computer Laboratory. He joined the permanent faculty of Cambridge in 2007, prior to this he had been an EPSRC Roberts Fellow at Queen Mary, University of London, an Intel Research Fellow in Cambridge and foundation-researcher at the Cambridge Marconi research laboratory. Throughout this time Andrew has focused upon network characterisation and measurement, extensible monitoring for application performance-analysis and large-scale Internet monitoring and emulation. Interest in switch design has led to work in physical line-coding for optical networks, and novel optical-switch architectures.                               
</p>
<p class="presentorDescription">
Andrew completed his Ph.D. with the Cambridge University Computer Laboratory in 2001 and prior to that took a Masters degree and an honours degree from Monash University in Melbourne. Australia. Alongside routine collaboration with AT&T, Endace, Intel, and Microsoft, Andrew Moore has served as principal investigator on grants from the UK Research Council (EPSRC) and a number of UK government bodies. He is a chartered engineer with the IET and a member of the IEEE, ACM and USENIX.    
</p>
