<p class="presentorHead">
	<a href="http://www.stanford.edu/~jwlockwd/" onclick="link_popup(this, ''); return false;">John W. Lockwood</a>
</p>
<p class="presentorDescription">
	John W. Lockwood is a Consulting Associate Professor at Stanford University. At Stanford, 
	he leads the NetFPGA Alpha and Beta release programs and organizes the worldwide tutorial
	program. Lockwood was granted tenure in the Department of Computer Science and Engineering
	at Washington University in Saint Louis in 2006. At Washington University in St. Louis,
	Lockwood led the Reconfigurable Network Group (RNG) to develop the Field programmable Port
	Extender (FPX) to enable rapid prototype of extensible network modules in Field Programmable
	Gate Array (FPGA) technology. Lockwood's research interests include reconfigurable hardware,
	Internet security, and content processing technologies. Dr. Lockwood earned his Ph.D from
	the Department of Electrical and Computer Engineering at the University of Illinois.
</p>
<p class="presentorDescription">
	John Lockwood has served as the principal investigator on grants from the National Science
	Foundation, Xilinx, Altera, Nortel Networks, Rockwell Collins, and Boeing. He has worked
	in industry for AT&amp;T Bell Laboratories, IBM, Science Applications International
	Corporation (SAIC), and the National Center for Supercomputing Applications (NCSA). He
	served as a co-founder of Global Velocity, a networking startup company focused on high-speed
	data security. He is a member of IEEE, ACM, Tau Beta Pi, and Eta Kappa Nu. 
</p>
