<p class="presentorHead">Jad Naous</p>
<p class="presentorDescription">
	Jad Naous received his B.Eng. degree in Computer Engineering from McGill University
	in 2005, and his M.S.E.E. degree from Stanford University in 2007. He is currently pursuing
	a doctorate in Electrical Engineering at Stanford University. He has previously worked as
	a Graduate Intern for Sun Microsystems Labs in 2006, where he worked on the next generation
	switch project. In 2007, he joined Agilent Technologies Labs as a Graduate Intern where he
	helped implement special devices for the IEEE1588 Precision Time Protocol using NetFPGA. 
</p>
