<p class="presentorHead"><a href="http://www.stanford.edu/~hyzeng/">James Hongyi Zeng</a></p>
<p class="presentorDescription">
	James Hongyi Zeng received his Bachelor of Science degree in
	Electrical Engineering from Tsinghua University, China in 2008, with a
	concentration in wireless communication. He is currently pursuing a
	PhD degree in Electrical Engineering at Stanford University. His
	research mainly focuses on data center network, high performance
	router architecture, and software defined radio. He has been working
	on the NetFPGA platform since 2008 and is the core designer on the
	next generation NetFPGA 10G platform. James has previously worked in
	Microsoft Research Asia as a Visiting Student, where he worked on
	GPU-based soft WiFi project.                            i
</p>
