<p class="presentorHead">
	<a href="http://www.cedt.iisc.ernet.in/people/edkuru/" onclick="link_popup(this, ''); return false;">Kuruvilla Varghese</a>
</p>
<p class="presentorDescription">
	Kuruvilla Varghese is a Principal Research Scientist at Centre for
	Electronics Design and Technology (CEDT), Indian Institute of Scinece,
	Bangalore. He is working in communications network group of CEDT. His
	main reserach interests are in Embedded systems, Communication networks
	and Digital VLSI systems. Presently he is working on High performance
	netwoking functions using Field Programmable Gate Arrays (FPGA).
</p>
