<p class="presentorHead"><a href="http://www.stanford.edu/~nickm/">Nick McKeown</a></p>
<p class="presentorDescription">
	Nick McKeown is a Professor of Electrical Engineering and Computer Science and Faculty
	Director of the Clean Slate Program at Stanford University. He received his Phd from the
	University of California at Berkeley in 1995. From 1986-1989, he worked for Hewlett-Packard
	Labs in their network and communications research group in Bristol, England. During the
	Spring of 1995, he worked briefly for Cisco Systems where he helped architect their GSR
	12000 router. In 1997 Nick co-founded Abrizio Inc., where he was CTO. Abrizio is now part of
	PMC-Sierra. He was co-founder and CEO of Nemo Systems, which is now part of Cisco Systems. 
</p>
<p class="presentorDescription">
	Nick McKeown is the STMicroelectronics Faculty Scholar, the Robert Noyce Faculty Fellow,
	a Fellow of the Powell Foundation and the Alfred P. Sloan Foundation, and recipient of a
	CAREER award from the National Science Foundation. In 2000, he received the IEEE Rice Award
	for the best paper in communications theory. Nick is a Fellow of the Royal Academy of Engineering
	(UK), and a Fellow of the IEEE and the ACM, and British Computer Society Lovelace Medal Winner,
	2005. He served as an Editor for the IEEE Transactions on Communications and ACM/IEEE Transactions
	on Networking, and as a Guest Editor for IEEE Journal on Selected Areas on Communications, IEEE
	Networks Magazine and IEEE Communications Magazine, and chaired the Technical Advisory Committee
	for ACM Sigcomm. Nick's research interests include the architecture of the future Internet, the
	architecture, analysis and design of high performance switches and Internet routers, IP lookup
	and classification algorithms, scheduling algorithms, congestion control, routing protocols and
	network processors.
</p>
