<p class="presentorHead">
	Tatsuya Yabe
</p>
<p class="presentorDescription">
	Tatsuya Yabe is a visiting researcher of the High-Performance Network Group (HPN) at Stanford University. He joined the group in 2008, and since then he has been closely working with the NetFPGA development team.
He also is an Assistant Manager of System Platforms Research Labs in NEC. Previously he was a hardware engineer in NEC Communication Systems. There, he successfully designed over a dozen FPGAs as well as circuit boards for large telecommunication carriers. 
He now owns several NetFPGA projects including an OpenFlow implementation. He assisted the NetFPGA summer camp in 2010 and 2011.
</p>
