<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" content="Page Description" />
		<meta name="keywords" content="Keywords" />
		<meta name="Gaming Brotherhood" content="NetFPGA" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width">
		<title>NetFPGA</title>
		<link rel="icon" href="http://netfpga.org/site/favicon.ico"/>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<style>
	    .main{width:900px;}
	    .lowscreenres, .hidden{display:none;}
	    </style>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular-route.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular-sanitize.min.js"></script>
	    <script src="netfpga.js"></script>
	    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

	    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56829819-2', 'auto');
  ga('send', 'pageview');

</script>

	</head>
	<body ng-app="netfpga">
		<header>
			<div class="wrapper">
				<div class="logo">
					<img src="images/logolarger.png">
				</div>

				<div class="search">
					<div>
						<input type="text" size="15"><div class="searchicon"></div>
					</div>
				</div>
				<nav ng-controller="generalCtrl">
					<div >
						<a href="#/" ng-click="active='home'">
							<div class="navButton" ng-class="{'active' : menu.active==='home'}">
								HOME
							</div>
						</a>
						<a href="#systems/" ng-click="active='systems'">
							<div class="navButton" ng-class="{'active' : menu.active==='systems'}">
								SYSTEMS
							</div>
						</a>
						<a href="#events/" ng-click="active='events'">
							<div class="navButton" ng-class="{'active' : menu.active==='events'}">
								EVENTS
							</div>
						</a>
						<a href="#news/">
							<div class="navButton" ng-class="{'active' : menu.active==='news'}">
								NEWS
							</div>
						</a>
						<a href="#about/" ng-click="active='about'">
							<div class="navButton" ng-class="{'active' : menu.active==='about'}">
								ABOUT
							</div>
						</a>
					</div>
				</nav>
			</div>
		</header>
		<div class="wrapper">
			<aside class="highscreenres">
				<a target="_blank" href="http://www.xilinx.com/"><img src="images/xilinx.jpg"></a>
				<a target="_blank" href="http://www.digilentinc.com/"><img src="images/digilent.jpg"></a>
				<a target="_blank" href="http://www.cypress.com/"><img src="images/cypress.jpg"></a>
				<a target="_blank" href="http://www.micron.com/"><img src="images/micron.jpg"></a>
				<a target="_blank" href="http://www.linear.com/"><img src="images/linear.jpg"></a>
				<a target="_blank" href="http://www.computermeasurementlab.com/"><img src="images/cml.jpg"></a>
			</aside>
			
			<div ng-view class="main">
				<noscript>Sorry, your browser does not support javascript</noscript>
			</div>

			<aside class="lowscreenres">
				<a target="_blank" href="http://www.xilinx.com/"><img src="images/xilinx.jpg"></a>
				<a target="_blank" href="http://www.digilentinc.com/"><img src="images/digilent.jpg"></a>
				<a target="_blank" href="http://www.cypress.com/"><img src="images/cypress.jpg"></a>
				<a target="_blank" href="http://www.micron.com/"><img src="images/micron.jpg"></a>
				<a target="_blank" href="http://www.linear.com/"><img src="images/linear.jpg"></a>
				<a target="_blank" href="http://www.computermeasurementlab.com/"><img src="images/cml.jpg"></a>
			</aside>
			
			<aside>
				<a target="_blank" href="http://www.nsf.gov/"><img src="images/nsf.jpg"></a>
				<a target="_blank" href="http://www.stanford.edu/"><img src="images/stanford.jpg"></a>
				<a target="_blank" href="http://www.cam.ac.uk/"><img src="images/cambridge.jpg"></a>
				<a target="_blank" href="http://www.epsrc.ac.uk/"><img src="images/epsrc.jpg"></a>
			</aside>			
		</div>
	</body>
	<script type="text/ng-template" id="/">

		<div class="fpga shown">
			<a href="#systems/1netfpga-sume/">
				<img src="images/netfpgasumeportrait.jpg" alt="NetFPGA SUME board">
			</a>
			<div class="label">
				NetFPGA SUME
			</div>
		</div>
		<div class="fpga shown">
			<a href="#systems/2netfpga-1g-cml/">
				<img src="images/netfpgacml.jpg" alt="NetFPGA CML board">
			</a>
			<div class="label">
				NetFPGA CML
			</div>
		</div>
		<div class="fpga shown">
			<a href="#systems/3netfpga-10g/">
				<img src="images/netfpga10g.jpg" alt="NetFPGA10G board">
			</a>
			<div class="label">
				NetFPGA 10G
			</div>
		</div>
		<div class="fpga shown">
			<a href="#systems/4netfpga-1g/">
				<img src="images/netfpga1g.jpg" alt="NetFPGA1G board">
			</a>
			<div class="label">
				NetFPGA 1G
			</div>
		</div>

		<div class="fpga hidden">
			<a href="#systems/1netfpga-sume/">
				<img src="images/netfpgasumelandscape.jpg" alt="NetFPGA SUME board">
			</a>
			<div class="label">
				NetFPGA SUME
			</div>
		</div>
		<div class="fpga hidden">
			<a href="#systems/2netfpga-1g-cml/">
				<img src="images/netfpgacmllandscape.jpg" alt="NetFPGA CML board">
			</a>
			<div class="label">
				NetFPGA CML
			</div>
		</div>
		<div class="fpga hidden">
			<a href="#systems/3netfpga-10g/">
				<img src="images/netfpga10glandscape.jpg" alt="NetFPGA10G board">
			</a>
			<div class="label">
				NetFPGA 10G
			</div>
		</div>
		<div class="fpga hidden">
			<a href="#systems/4netfpga-1g/">
				<img src="images/netfpga1glandscape.jpg" alt="NetFPGA1G board">
			</a>
			<div class="label">
				NetFPGA 1G
			</div>
		</div>
		<article style="clear:both;">
			<p>
				The NetFPGA is:<br/><br/>

				a line-rate, flexible, and open platform for <a href="#publications/">research</a>, and classroom experimentation. More than 3,500 NetFPGA systems have been deployed at over <a href="#deployment_map/">300 institutions in over 47 countries around the world.</a><br/><br/>

				<!-- Watch the <a href="#systems/1netfpga-sume/videos/">Introductory Tutorial videos, now online!</a><br/><br/> -->
				NetFPGA SUME is here!!!! If you are interested to learn more, please register <a href="#SUME_reg_form/">here</a>!
			</p><br>
			<!-- <p>
			If you want to visit the old site, click <a target="_blank" href="http://netfpga.org/main.html">here</a>.
			</p> -->
		</article>				
	</script>
</html>
