---
layout: tutorial
title: Bangalore, India Tutorial - May 15-16, 2008
---
<h1 id="pagename" class="topOfDiv">NetFPGA Bangalore Tutorial</h1>
<h2>
	Hands-on with the NetFPGA to build a Gigabit-rate Router at
	<a href="http://www.iisc.ernet.in/" onclick="link_popup(this, ''); return false;">Indian Institute of Science (IISc)</a>
</h2>
<p>
	Presented by: <a href="http://www.stanford.edu/~jwlockwd/" onclick="link_popup(this, ''); return false;">John W. Lockwood</a>
and <a href="http://yuba.stanford.edu/~jnaous/">Jad Naous</a>
	of the: <a href="http://yuba.stanford.edu/" onclick="link_popup(this, ''); return false;">High Performance Network Group at
	Stanford University</a> and <a href="http://www.cedt.iisc.ernet.in/people/edkuru/" onclick="link_popup(this, ''); return false;">
	Kuruvilla Varghese</a> of IISc.
</p>
<p>
	Co-Hosted by Veena Kumar, <a href="http://www.xilinx.com/univ/">Xilinx University Program</a>, India.
</p>
<p><b>Date:</b> May 15-16, 2008</p>
<p><b>Time:</b> 9am - 5pm</p>
		
<table>
	<tbody>
		<tr><td><b>Location:</b></td><td>SMDP/Micro-electronics Lab, Room No: 207</td></tr>
		<tr><td></td><td>Centre For Electronics Design and Technology</td></tr>
		<tr><td></td><td>Indian Institute of Science</td></tr>
		<tr><td></td><td>Bangalore, India</td></tr>
	</tbody>
</table>

{% include tutorialabstract.html %}
	
<h2>Background</h2>
<p>
			{% include tutorialbackgroundstart.html %}
			
			This full-day tutorial extends the material presented at the Hot Interconnects
			tutorial and the SIGMETRICS tutorials in 2007.
			<a href="/tutorials/SigMetrics2007/photos/photos.html">Photos</a>
			from those events as well as a <a href="../../documents/handout_NetFPGA-2007_12_13.pdf">description</a> of
			the NetFPGA Platform are available on-line from the <a href="/">NetFPGA</a> homepage.
		</p>


<div class="centeredImage"><img src="https://lh3.googleusercontent.com/-qlqae38FB3c/T4SqTn-y14I/AAAAAAAAAX8/urFiZqzTA4Y/s967/IMG_2068.jpg" width=80%><p>
<div class="centeredImage"><img src="https://lh4.googleusercontent.com/-NSJvHG6xBO0/T4SqSxFiOLI/AAAAAAAAAXw/aqIMpYXbgqg/s967/IMG_2064.jpg" width=80%><p>
<div class="centeredImage"><img src="https://lh4.googleusercontent.com/-x6W54ODAYp0/T4SqTZPkPwI/AAAAAAAAAX4/nsu5OaTlHGI/s967/IMG_2067.jpg" width=80%><p>
<div class="centeredImage"><img src="https://lh3.googleusercontent.com/-rr6oXmQEbwo/T4SqUezP-DI/AAAAAAAAAYI/usLgteF4lcw/s967/IMG_2072.jpg" width=80%><p>


{% include tutorialoutline.html %}

<h2>About the presentors</h2>
<div class="ulWrapper">
	<ul>
	<li>{% include presentors/j_lockwood.html %}</li>
	<li>{% include presentors/k_varghese.html %}</li>
	<li>{% include presentors/j_naous.html %}</li>
	</ul>
</div>

<h2>Map</h2>
		<div class="centeredImage"><img src="https://lh6.googleusercontent.com/-9HhplHYgMMA/T4dKJYXG18I/AAAAAAAAAwU/NVk6oFNh6kI/s591/IISc_Map.jpg" alt="IISc Map" /></div>

<h2>To Attend this Event </h2>
<p>
	To Register to attend, <a href="http://www.xilinx.com/univ/uwkshp1.htm" onclick="link_popup(this, ''); return false;">
	Submit a registration form</a> on-line.
</p>
<p>
	Accomodations: <a href="http://cce.iisc.ernet.in/stay.html" onclick="link_popup(this, ''); return false;">
	Hoysala Guest House, IISc</a>
</p>

<h2>Presentation Slides</h2>
<div class="ulWrapper">
	<ul>
		<li>
			<p>Revision 1: May 7, 2008</p>
			<ul>
				<li><a href="India_NetFPGA_Tutorial-Rev1-8_May_14_2008.pdf">Adobe Acrobat (.PDF)</a></li>
				<li><a href="India_NetFPGA_Tutorial-Rev1-8_May_14_2008.ppt">Microsoft PowerPoint (.PPT)</a></li>
			</ul>
		</li>
	</ul>
</div>

<!--
<h2>Photos from the Event</h2>
<div class="ulWrapper">
	<ul>
		<li><a href="./Photos/Arrival_and_Laboratory_Setup/photos.html">Arrival_and_Laboratory_Setup</a></li>
		<li><a href="./Photos/Tutorial_Photos/laboratory_photos.html">Hands-On Exercises in the Laboratory </a></li>
		<li><a href="./Photos/Tutorial_Photos/classroom_photos.html">Teaching in the Classroom </a></li>
		<li><a href="./Photos/Group_Discussion/photos.html">Group_Discussion</a></li>
	</ul>
</div>
-->
