<div id="accordion-2006PubsHead" class="accordion">
  <div class="collapsed" data-toggle="collapse" href="#collapse-2006PubsBody">
    <button class="card-title"><p>2006 &nbsp</p></button>
  </div>
  <div id="collapse-2006PubsBody" class="collapse" data-parent="#accordion-2006PubsHead">
    <ul>
      <li><a href="https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.92.2760&rep=rep1&type=pdf">Watson, Greg & McKeown, Nick & Casado, Martin. (2006). NetFPGA: A tool for network research and education.</a></li>
    </ul>
  </div>
</div>
