<div id="accordion-2007PubsHead" class="accordion">
  <div class="collapsed" data-toggle="collapse" href="#collapse-2007PubsBody">
    <button class="card-title"><p>2007 &nbsp</p></button>
  </div>
  <div id="collapse-2007PubsBody" class="collapse" data-parent="#accordion-2007PubsHead">
  <ul>
    <li><a href="http://dx.doi.org/10.1109/HOTI.2007.7">Prototyping Fast, Simple, Secure Switches for Ethane; Jianying Luo, Justin Pettit, Martin Casado, John Lockwood, and Nick McKeown; Hot Interconnects; Stanford, CA; August 2007</a></li>
    <li><a href="http://dx.doi.org/10.1109/MSE.2007.69">NetFPGA - An Open Platform for Gigabit-rate Network Switching and Routing; John W. Lockwood, Nick McKeown, Greg Watson, Glen Gibb, Paul Hartke, Jad Naous, Ramanan Raghuraman, and Jianying Luo; MSE 2007, San Diego, June 2007.</a></li>
  </ul>
  </div>
</div>
