<div id="accordion-2008PubsHead" class="accordion">
  <div class="collapsed" data-toggle="collapse" href="#collapse-2008PubsBody">
    <button class="card-title"><p>2008 &nbsp</p></button>
  </div>
  <div id="collapse-2008PubsBody" class="collapse" data-parent="#accordion-2008PubsHead">
    <ul>
      <li><a href="https://doi.org/10.1145/1477942.1477944">Implementing an OpenFlow Switch on the NetFPGA Platform; Jad Naous, David Erickson, G. Adam Covington, Guido Appenzeller, Nick McKeown; ACM/IEEE Symposium on Architectures for Networking and Communications Systems; San Jose, CA; November 6-7, 2008.</a></li>
      <li><a href="http://dx.doi.org/10.1145/1397718.1397720">NetFPGA: Reusable Router Architecture for Experimental Research; Jad Naous, Glen Gibb, Sara Bolouki, and Nick McKeown; SIGCOMM PRESTO Workshop, Seattle, WA, August 2008.</a></li>
      <li><a href="https://doi.org/10.1109/AERO.2008.4526593">Intelligent Avionics with Advanced Clustering; John Meier, Todd Sproull, G. Adam Covington, John W. Lockwood; IEEE Aerospace Conference; Big Sky, MT; March 3-8, 2008.</a></li>
      <li><a href="http://dx.doi.org/10.1109/TE.2008.919664">NetFPGA -- Open Platform for Teaching How to Build Gigabit-rate Network Switches and Routers; Glen Gibb, John W. Lockwood, Jad Naous, Paul Hartke, and Nick McKeown; IEEE Transactions on Education, 2008.</a></li>
    </ul>
  </div>
</div>
