<div id="accordion-2019PubsHead" class="accordion">
  <div class="collapsed" data-toggle="collapse" href="#collapse-2019PubsBody">
    <button class="card-title"><p>2019 &nbsp</p></button>
  </div>
  <div id="collapse-2019PubsBody" class="collapse" data-parent="#accordion-2019PubsHead">
    <ul>
      <li><a href="https://doi.org/10.1145/3302424.3303979">Tokusashi,Y., Dang, H.T., Pedone, F., Soule, R., and Zilberman, N. (2019, March). The Case For In Network Computing On Demand, EuroSys.</a></li>
      <li><a href="https://www.cl.cam.ac.uk/~nz247/publications/ibanez2019p4netfpga.pdf">Ibanez, S., Brebner, G., McKeown, N. and Zilberman, N. (2019, February). The P4->NetFPGA Workflow for Line-Rate Packet Processing, 27th ACM/SIGDA International Symposium on Field-Programmable Gate Arrays (FPGA’19)</a></li>
      <li><a href="https://www.usenix.org/system/files/nsdi19-zilberman.pdf">Zilberman, N., Bracha, G., and Schzukin, G. (2019, February). Stardust: Divide and conquer in the data center network, Usenix NSDI.</a></li>
      <li><a href="https://doi.org/10.1007/s00034-019-01226-7">Karras, K., Kipouridis, O., Zotos, N., Markakis, E., & Bogdos, G. (2019). Enabling Virtualized Programmable Logic Resources at the Edge and the Cloud. In Hardware Accelerators in Data Centers (pp. 149-162). Springer, Cham.</a></li>
      <li><a href="https://www.usenix.org/conference/nsdi19/presentation/pontarelli">Pontarelli, S., Bifulco, R., Bonola, M., Cascone, C., Spaziani, M., Bruschi, V., ... & Huici, F. (2019). FlowBlaze: Stateful Packet Processing in Hardware. In 16th USENIX Symposium on Networked Systems Design and Implementation (NSDI 19). USENIX Association (Vol. 2019).</a></li>
      <li><a href="https://ieeexplore.ieee.org/document/8651200">Paolucci, F., Civerchia, F., Sgambelluri, A., Giorgetti, A., Cugini, F., & Castoldi, P. (2019). P4 Edge Node Enabling Stateful Traffic Engineering and Cyber Security. Journal of Optical Communications and Networking, 11(1), A84-A95.</a></li>
    </ul>
  </div>
</div>
