<div id="accordion-2020PubsHead" class="accordion">
  <div class="collapsed" data-toggle="collapse" href="#collapse-2020PubsBody">
    <button class="card-title"><p>2020 &nbsp</p></button>
  </div>
  <div id="collapse-2020PubsBody" class="collapse" data-parent="#accordion-2020PubsHead">
    <ul>
      <li><a href="https://doi.org/10.1145/3373360.3380836">Dumitru, Mihai Valentin, Dragos Dumitrescu, and Costin Raiciu. "Can we exploit buggy P4 programs?." Proceedings of the Symposium on SDN Research. 2020.</a></li>
      <li><a href="https://doi.org/10.1109/ANCS.2019.8901886">Scholz, Dominik, et al. "Cryptographic hashing in p4 data planes." 2019 ACM/IEEE Symposium on Architectures for Networking and Communications Systems (ANCS). IEEE, 2019.</a></li>
      <li><a href="https://dl.acm.org/doi/abs/10.1145/3386367.3431313">Pietro Bressana, Noa Zilberman, Robert Soulé, "Finding hard-to-find data plane bugs with a PTA", ACM CoNEXT, 2020.</a></li>
      <li><a href="https://dl.acm.org/doi/10.1145/3426744.3431329">Radostin Stoyanov and Noa Zilberman, "MTPSA: Multi-Tenant Programmable Switches", The 3rd P4 Workshop in Europe (EuroP4), 2020.</a></li>
      <li><a href="https://dl.acm.org/doi/10.1145/3405672.3405807">Pietro Bressana, Noa Zilberman, Dejan Vucinic, Robert Soulé, "Trading Latency for Compute in the Network", ACM SIGCOMM 2020 Workshop on Network Application Integration/CoDesign, 2020.</a></li>
      <li><a href="https://ieeexplore.ieee.org/document/9095258">Huynh Tu Dang, Pietro Bressana, Han Wang, Ki Suh Lee, Noa Zilberman, Hakim Weatherspoon, Marco Canini, Fernando Pedone, Robert Soulé, "P4xos: Consensus as a network service", IEEE/ACM Transactions on Networking, 2020.</a></li>
    </ul>
  </div>
</div>
