<div id="accordion-2021PubsHead" class="accordion">
  <div class="" data-toggle="collapse" href="#collapse-2021PubsBody">
    <button class="card-title"><p>2021 &nbsp</p></button>
  </div>
  <div id="collapse-2021PubsBody" class="collapse show" data-parent="#accordion-2021PubsHead">
    <ul>
      <li><a href="https://doi.org/10.1109/TNET.2020.3045293">Chiesa, Marco, et al. "Fast ReRoute on Programmable Switches." IEEE/ACM Transactions on Networking 29.2 (2021): 637-650.</a></li>
    </ul>
  </div>
</div>
