<p><i>Organisation</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-organisation-NetFPGA" class="stretched-link" type="checkbox" href=".NetFPGA-collapse" role="button" aria-controls="NetFPGACollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-organisation-NetFPGA">NetFPGA</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-organisation-OSNT" class="stretched-link" type="checkbox" href=".OSNT-collapse" role="button" aria-controls="OSNTCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-organisation-OSNT">OSNT</label>
</p>
<p><i>Organisation Type</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-organisation-type-Academic" class="stretched-link" type="checkbox" href=".academic-collapse" role="button" aria-controls="AcademicCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-organisation-type-Academic">Academic</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-organisation-type-Non-Profit" class="stretched-link" type="checkbox" href=".non-profit-collapse" role="button" aria-controls="Non-ProfitCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-organisation-type-Non-Profit">Non-Profit</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-organisation-type-Vendor" class="stretched-link" type="checkbox" href=".vendor-collapse" role="button" aria-controls="VendorCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-organisation-type-Vendor">Vendor</label>
</p>
<p><i>Product Type</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-product-type-Product" class="stretched-link" type="checkbox" href=".product-collapse" role="button" aria-controls="ProductCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-product-type-Product">Product</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-product-type-Project" class="stretched-link" type="checkbox" href=".project-collapse" role="button" aria-controls="ProjectCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-product-type-Project">Project</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-product-type-Software" class="stretched-link" type="checkbox" href=".software-collapse" role="button" aria-controls="SoftwareCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-product-type-Software">Software</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-product-type-Other" class="stretched-link" type="checkbox" href=".other-collapse" role="button" aria-controls="OtherCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-product-type-Other">Other</label>
</p>
<p><i>Target Platform</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-target-PLUS" class="stretched-link" type="checkbox" href=".NetFPGA-PLUS-collapse" role="button" aria-controls="PLUSCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-target-PLUS">PLUS</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-target-SUME" class="stretched-link" type="checkbox" href=".NetFPGA-SUME-collapse" role="button" aria-controls="SUMECollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-target-SUME">SUME</label>
</p>
<p class="card btn btn-primary check-container mr-5">
  <input id="check-target-CML" class="stretched-link" type="checkbox" href=".NetFPGA-CML-collapse" role="button" aria-controls="CMLCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-target-CML">CML</label>
</p>
<p class="card btn btn-primary check-container mr-5">
  <input id="check-target-10G" class="stretched-link" type="checkbox" href=".NetFPGA-10G-collapse" role="button" aria-controls="10GCollapse" onclick="buttonClicked()">
  <label class="check-label" for="check-target-10G">10G</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-target-1G" class="stretched-link" type="checkbox" href=".NetFPGA-1G-collapse" role="button" aria-controls="1GCollapse" onclick="buttonClicked()" >
  <label class="check-label" for="check-target-1G">1G</label>
</p>
