<p><i>Organisation</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-news" class="stretched-link" type="checkbox" data-toggle="collapse" href=".NetFPGA-collapse" role="button" aria-controls="newsCollapse" checked>
  <label class="check-label" for="check-news">NetFPGA</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-events" class="stretched-link" type="checkbox" data-toggle="collapse" href=".OSNT-collapse" role="button" aria-controls="eventsCollapse" checked>
  <label class="check-label" for="check-events">OSNT</label>
</p>
<p><i>Organisation Type</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-events" class="stretched-link" type="checkbox" data-toggle="collapse" href=".academic-collapse" role="button" aria-controls="eventsCollapse" checked>
  <label class="check-label" for="check-events">Academic</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-news" class="stretched-link" type="checkbox" data-toggle="collapse" href=".non-profit-collapse" role="button" aria-controls="newsCollapse" checked>
  <label class="check-label" for="check-news">Non-Profit</label>
</p>
<p class="card btn btn-primary check-container">
  <input id="check-events" class="stretched-link" type="checkbox" data-toggle="collapse" href=".vendor-collapse" role="button" aria-controls="eventsCollapse" checked>
  <label class="check-label" for="check-events">Vendor</label>
</p>
<p><i>Product Type</i></p>
<p class="card btn btn-primary check-container">
  <input id="check-news" class="stretched-link" type="checkbox" data-toggle="collapse" href=".product-collapse" role="button" aria-controls="newsCollapse" checked>
  <label class="check-label" for="check-news">Product</label>
</p>
