<h2>Abstract</h2>
<p>
	The <a href="http://www.NetFPGA.org/">NetFPGA</a> is and open platform enabling researchers and instructors to 
	build high-speed, hardware-accelerated networking systems. 
	The platform can be used in the classroom to teach students how to build 
	Ethernet switches and Internet Prototcol (IP) routers using hardware 
	rather than software. The platform can be used by researchers to prototype 
	advanced services for next-generation networks.
</p>
<p>
	By using Field Programmable Gate Arrays (FPGAs), 
	the NetFPGA enables new types of packet routing circuits to be 
	implemented and detailed measurements of network traffic to be obtained. 
	During the tutorial, attendees will learn about the NetFPGA platform and
	and how it can be used.  We will demonstrate the use of the reference
	router to dynamically re-route traffic using PW-OSPF with streaming video traffic.
	We will also show how we can extend existing designs to experiment with buffer sizes.
</p>
<p>
	No knowledge of Verilog/VHDL is required to attend the tutorial, although knowledge of these languages is needed to program NetFPGA.
</p>
