<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger nav-link btn" href="{{ site.baseurl }}/" >NetFPGA</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if index.html == page.url %} active {% endif %}">
          <div class="btn-group">
            <a class="nav-link btn text-left" href="{% link index.html %}" >Home</a>
            <button type="button" class="nav-link btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="dropdown-menu text-left">
              <a class="dropdown-item" href="{% link NetFPGA-PLUS.html %}">NetFPGA PLUS</a>
              <a class="dropdown-item" href="{% link NetFPGA-SUME.html %}">NetFPGA SUME</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% link NetFPGA-CML.html %}">NetFPGA CML</a>
              <a class="dropdown-item" href="{% link NetFPGA-10G.html %}">NetFPGA 10G</a>
              <a class="dropdown-item" href="{% link NetFPGA-1G.html %}">NetFPGA 1G</a>
            </div>
          </div>
        </li>
        <li class="nav-item{% if About.html == page.url %} active {% endif %}">
          <div class="btn-group">
            <a class="nav-link btn text-left" href="{% link About.html %}" >About</a>
            <button type="button" class="nav-link btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% link why-NetFPGA.html %}">Why NetFPGA</a>
              <a class="dropdown-item" href="{% link ecosystem.html %}">Ecosystem</a>
              <a class="dropdown-item" href="{% link Publications.html %}">Publications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/NetFPGA/NetFPGA-public">GitHub Repository</a>
            </div>
          </div>
        </li>
        <li class="nav-item {% if news-and-events.html == page.url %} active {% endif %}">
          <a class="nav-link btn text-left" href="{% link news-and-events.html %}" >News and Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn text-left" href="mailto:enquiries@netfpga.org" >Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
