<div class="sponsors">
	<p>

		Hardware and tools available for university programs thanks to grants, donations, and/or
		partnerships from:
	</p>
	<table>
		<tr>
			<td><a href="http://www.cisco.com/" onclick="link_popup(this, ''); return false;" title="Cisco"><img src="images/logos/cisco_logo.jpg" alt="ciscoLogo" /></a></td>
			<td class="separator"><a href="http://www.google.com/" onclick="link_popup(this, ''); return false;" title="Google"><img src="images/logos/google_logo.jpg" alt="googleLogo" /></a></td>
			<td>
				<table class="subTable">
					<tr>
						<td><a href="http://www.stanford.edu/" onclick="link_popup(this, ''); return false;" title="Stanford"><img src="images/logos/stanford_logo.jpg" alt="stanfordLogo" /></a></td>
                                                <td><a href="http://www.cam.ac.uk/" onclick="link_popup(this, ''); return false;" title="Cambridge"><img src="images/logos/cambridge_logo.jpg" alt="cambridgeLogo" /></a></td>
                                                <td><a href="http://www.digilentinc.com/" onclick="link_popup(this, ''); return false;" title="Digilent"><img src="images/logos/digilent_logo.jpg" alt="digilentLogo" /></a></td>
                                                <td><a href="http://www.solarflare.com/" onclick="link_popup(this, ''); return false;" title="Solarflare"><img src="images/logos/solarflare_logo.jpg" alt="SolarflareLogo" /></a></td>
                                                <td><a href="http://www.broadcom.com/" onclick="link_popup(this, ''); return false;" title="Broadcom"><img src="images/logos/broadcom_logo.jpg" alt="broadcomLogo" /></a></td>
                                                <td><a href="http://www.synplicity.com/" onclick="link_popup(this, ''); return false;" title="Synplicity"><img src="images/logos/synplicity_logo.jpg" alt="synplicityLogo" /></a></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td><a href="http://www.huawei.com/" onclick="link_popup(this, ''); return false;" title="Huawei"><img src="images/logos/huawei_logo.jpg" alt="huaweiLogo" /></a></td>
			<td class="separator"><a href="http://www.xilinx.com/" onclick="link_popup(this, ''); return false;" title="Xilinx"><img src="images/logos/xilinx_logo.jpg" alt="xilinxLogo" /></a></td>
			<td>
				<table class="subTable">
					<tr>
						<td><a href="http://www.home.agilent.com/agilent/home.jspx?cc=US&amp;lc=eng&amp;cmpid=4533" onclick="link_popup(this, ''); return false;" title="Agilent"><img src="images/logos/agilent_logo.jpg" alt="agilentLogo" /></a></td>
                                                <td><a href="http://www.juniper.net/" onclick="link_popup(this, ''); return false;" title="Juniper"><img src="images/logos/juniper_logo.jpg" alt="juniperLogo" /></a></td>
                                                <td><a href="http://www.nsf.gov/" onclick="link_popup(this, ''); return false;" title="NSF"><img src="images/logos/nsf_logo.jpg" alt="nsfLogo" /></a></td>
                                                <td><a href="http://www.cypress.com/" onclick="link_popup(this, ''); return false;" title="Cypress"><img src="images/logos/cypress_logo.jpg" alt="cypressLogo" /></a></td>
                                                <td><a href="http://www.micron.com/" onclick="link_popup(this, ''); return false;" title="Micron"><img src="images/logos/micron_logo.jpg" alt="micronLogo" /></a></td>
                                                <td><a href="http://www.epsrc.ac.uk/" onclick="link_popup(this, ''); return false;" title="EPSRC"><img src="images/logos/epsrc_logo.jpg" alt="epsrcLogo" /></a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
