<h2>Abstract</h2>
<p>
	An open platform called the <a href="http://www.NetFPGA.org/">NetFPGA</a>
	has been developed at Stanford University.
	The NetFPGA platform enables researchers and instructors to 
	build high-speed, hardware-accelerated networking systems. 
	The platform can be used in the classroom to teach students how to build 
	Ethernet switches and Internet Prototcol (IP) routers using hardware 
	rather than software. The platform can be used by researchers to prototype 
	advanced services for next-generation networks.
</p>
<p>
	By using Field Programmable Gate Arrays (FPGAs), 
	the NetFPGA enables new types of packet routing circuits to be 
	implemented and detailed measurements of network traffic to be obtained. 
	During the tutorial, we will use the NetFPGA to determine
	the amount of memory needed to buffer TCP/IP data streaming through 
	the Gigabit/second router.
	Hardware circuits within the NetFPGA will be implemented
	to measure and plot the occupancy of buffers.  
	Circuits will be downloaded into reconfigurable hardware and tested with live, 
	streaming Internet video traffic.
</p>
