<h2>Outline</h2>

<div class="ulWrapper">
	<ul>
		<li>
			<p>Function of an Internet Router</p>
			<ul>
				<li>
					<p>Control plane</p>
					<ul>
						<li>Routing protocols
						<li>Routing table
						<li>Management and Command Line Interface (CLI)
					</ul>
				</li>
				<li>
					<p>Datapath</p>
					<ul>
						<li>
							<p>Address lookup</p>
								<ul>
									<li>Longest prefix match
									<li>Classless Interdomain Routing (CIDR)
								</ul>
						<li>Header update
						<li>Packet buffer
					</ul>
				</li>
				<li>
					<p>NetFPGA Router</p>
					<ul>
						<li>
							<p>Hardware</p>
							<ul>
								<li>Gigabit Ethernet interfaces
								<li>PCI host interface
								<li>Field Programmable Gate Array (FPGA) Logic 
								<li>Random Access Memory (RAM)
							</ul>
						</li>
						<li>
							<p>Software</p>
							<ul>
								<li>Kernel-space driver
								<li>User-space applications
							</ul>
						<li>System configuration</li>
					</ul>
				</li>
				<li>
					<p>Demonstration Topology</p>
					<ul>
						<li>
							<p>Hardware</p>
							<ul>
								<li>Network of ten routers
								<li>Ethernet switch 
								<li>Video server
								<li>High Definition (HD) video client
							</ul>
						</li>
						<li>
							<p>Software</p>
							<ul>
								<li>PW-OSPF
								<li>Routing tables
								<li>Dynamic re-routing
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<p>Integrated Circuit Design</p>
					<ul>
						<li>
							<p>Technologies</p>
							<ul>
								<li>Look-Up Tables (LUTs)
								<li>Configurable Logic Blocks (CLBs)
								<li>Field Programmable Gate Arrays (FPGAs)
							</ul>
							<li>
								<p>Verilog Hardware Description Langauge (HDL)</p>
								<ul>
									<li>Registers, integers, arrays
									<li>Multiplexers
									<li>Synchronous storage elements
									<li>Finite State Machines (FSMs)
								</ul>
							<li>
								<p>Hardware Debug</p>
								<ul>
									<li>Waveform monitor
									<li>In-circuit logic emulation 
								</ul>
							</li>
						</li>
					</ul>
				</li>
				<li>
					<p>NetFPGA System Components</p>
					<ul>
						<li>Synthesis of tutorial router</li>
						<li>
							<p>Java-based Graphical User Interface (GUI)</p>
							<ul>
								<li>Configuration 
								<li>Statistics
							</ul>
						</li>
						<li>
							<p>Router architecture</p>
							<ul>
								<li>Pipeline 
								<li>Queues
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<p>Buffer Size Experiment</p>
					<ul>
						<li>
							<p>Experiment with TCP/IP flows</p>
							<ul>
								<li>Rule-of-thumb for the buffer size 
								<li>Round-trip propation delay 
								<li>Capacity of bottlneck link
								<li>Number of active flows
							</ul>
						</li>
						<li>Lower delay with smaller queues</li>
					</ul>
				</li>
				<li>
					<p>Enhanced Router</p>
					<ul>
						<li>
							<p>Additional hardware</p>
							<ul>
								<li>Event capture module
								<li>Rate limiter
								<li>Delay module
							</ul>
						<li>
							<p>Experiments</p>
							<ul>
								<li>Netperf
								<li>HD video transport
							</ul>
						<li>
							<p>Life of packet through the system</p>
							<ul>
								<li>Description of blocks
								<li>Waveforms from logic analyzer
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
