---
layout: tutorial
title: NICTA Tutorial - Feb 6, 2008
---
<h1 id="pagename" class="topOfDiv">
	NetFPGA Sydney Tutorial
</h1>
<h2>
	Hands-on with the NetFPGA to build a Gigabit-rate Router at
	<a href="http://nicta.com.au/" onclick="link_popup(this, ''); return false;">NICTA</a>
</h2>
<p>
	Presented by: <a href="http://www.stanford.edu/~jwlockwd/" onclick="link_popup(this, ''); return false;">John W. Lockwood</a>,
	Glen Gibb, and Jad Naous of the: <a href="http://yuba.stanford.edu/" onclick="link_popup(this, ''); return false;">
	High Performance Network Group at Stanford University</a>
</p>
<p>
	Hosted By: <a href="http://www.cse.unsw.edu.au/~llibman" onclick="link_popup(this, ''); return false;">Lavy Libman</a>
	and Philip Allen <a href="http://nicta.com.au/" onclick="link_popup(this, ''); return false;">NICTA (National ICT Australia)</a>
	and <a href="http://www.eet.unsw.edu.au/" onclick="link_popup(this, ''); return false;">School of Electrical Engineering and
	Telecommunications</a><a href="http://www.unsw.edu.au/" onclick="link_popup(this, ''); return false;">The University of New
	South Wales (UNSW)</a>
</p>
<p><b>Date:</b> Wedesday February 6, 2008</p>
<p><b>Time:</b> 9am - 5pm</p>
<p>
	<b>Location:</b> Lab343A at the <a href="http://www.unsw.edu.au/" onclick="link_popup(this, ''); return false;">University of
	New South Wales</a> <a href="http://www.eet.unsw.edu.au/home/contact.htm#findWay" onclick="link_popup(this, ''); return false;">
	School of Electrical Engineering and Telecommunications building (G17)</a>
	<a href="http://www.facilities.unsw.edu.au/maps/kensington.pdf" onclick="link_popup(this, ''); return false;">
		Kensington campus
	</a>, Sydney, Australia
</p>
<p>
	To Register to attend, send email <a href="mailto:Lavy.Libman@nicta.com.au">here</a>
	with a subject line of "I plan to attend the NetFPGA tutorial" and
	a message that includes your name, title, organization, and contact information 
</p>

{% include tutorialabstract.html %}

<p>
	This full-day hands-on tutorial will be held in Sydney 
	on Wednesday, February 6.
</p>

<h2>Background</h2>
<p>
	{% include tutorialbackgroundstart.html %}
	
	This full-day tutorial extends the material presented at 
	the Hot Interconnects tutorial and the SIGMETRICS tutorials in 2007.
</p>

<div class="centeredImage"><img src="/images/tutorial/netFPGA_tutorial.jpg" alt="NetFPGA Tutorial"/></div>

{% include tutorialoutline.html %}

<h2>About the presentors</h2>
<div class="ulWrapper">
	<ul>
	<li>{% include presentors/j_lockwood.html %}</li>	
	<li>{% include presentors/g_gibb.html %}</li>	
	<li>{% include presentors/j_naous.html %}</li>	
	<li>{% include presentors/l_libman.html %}</li>	
	<li>{% include presentors/p_allen.html %}</li>	
	</ul>
</div>

<h2>Presentation Slides</h2>
<div class="ulWrapper">
	<ul>
		<li><a href="NICTA-NetFPGA_Tutorial-Ver_2-2008_02_3b.pdf">Adobe Acrobat (PDF)</a></li>
		<li><a href="NICTA-NetFPGA_Tutorial-Ver_2-2008_02_3.ppt">PowerPoint (PPT)</a></li>
	</ul>
</div>

<h2>Photos From the Event</h2>
<div class="ulWrapper">
	<ul>
		<li><a href="https://plus.google.com/photos/110918079399442170385/albums/5729892545764077873?authkey=COCnyJilzrP7fQ">All Photos</a></li>
	</ul>
</div>

<!--
<h2>Video from the Event</h2>
<div class="ulWrapper">
	<ul>
		<li><a href="NetFPGA_NICTA_Tutorial-Feb_2008.avi">NetFPGA_NICTA_Tutorial-Feb_2008.avi</a></li>
		<li><a href="NetFPGA_NICTA_Tutorial-Feb_2008.wvx">Streaming video on a Windows PC</a> (Starts Windows Media Player)</li>
		<li>
			<p><tt>mplayer http://NetFPGA.org/tutorials/NICTA2008/NetFPGA_NICTA_Tutorial-Feb_2008.avi</tt></p>
			<ul>
				<li>Streaming video on a Linux PC (Starts mplayer from command line)</li>
				<li>Use arrow keys to jump forward and back</li>
			</ul>
		</li>
	</ul>
</div>
-->

<h2>To Attend this Event </h2>
<p class="bottomOfDiv">
	To Register to attend, send email <a href="mailto:Lavy.Libman@nicta.com.au">here</a>
	with a subject line of "I plan to attend the NetFPGA tutorial" and
	a message that includes your name, title, organization, and contact information.
	For accomodations, rooms can be booked at <a href="http://www.housing.unsw.edu.au" onclick="link_popup(this, ''); return false;">
	hotels near UNSW</a>
</p>
