---
layout: tutorial 
title: HotI Tutorial - Aug 2007
---
<h1 id="pagename" class="topOfDiv"><a href="http://www.hoti.org/" onclick="link_popup(this, ''); return false;">Hot Interconnects Tutorial</a></h1>
<h2>
	Hands-on with the NetFPGA to build a Gigabit-rate Router
</h2>
<p>
	Presented by <a href="http://www.stanford.edu/~nickm/" onclick="link_popup(this, ''); return false;">Nick McKeown</a>,
	<a href="http://www.stanford.edu/~jwlockwd/" onclick="link_popup(this, ''); return false;">John W. Lockwood</a>,
	Jad Naous, Glen Gibb, <a href="http://www.altusfidelitas.org" onclick="link_popup(this, ''); return false;">Adam Covington</a>
</p>
<p><b>Date:</b> Friday, August 24, 2007</p>
<p><b>Time:</b> 9am - 5pm</p>
<p>
	<b>Location:</b> <a href="http://www.stanford.edu/" onclick="link_popup(this, ''); return false;">Stanford University</a>,
	<a href="http://campus-map.stanford.edu/index.cfm?ID=07-450" onclick="link_popup(this, ''); return false;">Gates Building</a>, Room 104.
</p>

{% include tutorialabstract.html %}

<h2>Background</h2>
<p>
{% include tutorialbackgroundstart.html %}
	
	This full-day tutorial extends the material presented at 
	the half-day SIGMETRICS tutorial on June 12, 2007. 
</p>

<div class="centeredImage"><img src="https://lh6.googleusercontent.com/-5nju2_9gAks/T4SnRuMRRLI/AAAAAAAAACw/SJW9KjZnQqU/s967/P1020198.JPG" width="700px" alt="NetFPGA Tutorial"/></div>

{% include tutorialoutline.html %}

<h2>About the presentors</h2>
<div class="ulWrapper">
	<ul>
		<li>{% include presentors/n_mckeown.html %}</li>
		<li>{% include presentors/j_lockwood.html  %}</li>
		<li>{% include presentors/j_naous.html %}</li>
		<li>{% include presentors/g_gibb.html %}</li>
		<li>{% include presentors/a_covington.html %}</li>
	</ul>
</div>

<h2>Presentation Slides</h2>
<div class="ulWrapper">
	<ul>
		<li><a href="HotI-NetFPGA_Tutorial-Ver_2-2007_08_24.pdf">Adobe Acrobat (PDF)</a></li> 
		<li><a href="HotI-NetFPGA_Tutorial-Ver_2-2007_08_24.ppt">PowerPoint (PPT)</a></li>
	</ul>
</div>

<h2>Video Demonstrations</h2>
<div class="ulWrapper">
	<ul>
		<li>
			<p>NetFPGA-hosted Video Servers on the local 192.168.X.Y network</p>
			<ul>
				<li>Primary Server: X.Y = <a href="http://192.168.28.1/video/">28.1</a></li>
				<li>Other Servers: X.Y =
					<a href="http://192.168.25.1/video/">25.1</a>,
					<a href="http://192.168.22.1/video/">22.1</a>,
					<a href="http://192.168.19.1/video/">19.1</a>,
					<a href="http://192.168.16.1/video/">16.1</a>,
					<a href="http://192.168.13.1/video/">13.1</a>,
					<a href="http://192.168.10.1/video/">10.1</a>,
					<a href="http://192.168.7.1/video/">7.1</a>,
					<a href="http://192.168.4.1/video/">4.1</a>,
					<a href="http://192.168.1.1/video/">1.1</a>
				</li>
				<li>Note X.Y label appears on front and back of each nf-test PC</li>
			</ul>
		</li>
	</ul>
</div>

<h2>Registration</h2>
<p class="bottomOfDiv">
	Registration for the tutorial is now on-line from the link on the
	<a href="http://hoti.org/" onclick="link_popup(this, ''); return false;">Hot Interconnects</a> website. The NetFPGA tutorial
	is part of the <a href="http://www.hoti.org/hoti15/program" onclick="link_popup(this, ''); return false;">Three-day Program</a>.
	To attend, just click on the <a href="http://www.hoti.org/hoti15/2007reg/" onclick="link_popup(this, ''); return false;">Registration</a>
	link and select the options to register for the full conference and/or the the full-day tutorial.
</p>
