---
layout: tutorial
title: Tokyo Tutorial (co-located CoNext) - Dec 5, 2011
---
<h1 id="pagename" class="topOfDiv">
	Tokyo Tutorial 2011 (near CoNext)			
</h1>
<h2>
	Informational Tutorial 
</h2>

<p>
	<b>Presented by: </b><a href="http://www.altusfidelitas.org" onclick="link_popup(this, ''); return false;">G. Adam Covington</a>, Tatsuya Yabe 
</p>
<p><b>Date:</b> Monday, December 5, 2011</p>
<p><b>Time:</b> 1pm - 5pm</p>
<table>
	<tbody>
		<tr><td><b>Location:</b> IIJ (Internet Initiative Japan) Seminar room #2, 17th floor</td></tr><tr><td>Jinbocho Mitsui Bldg., 1-105 Kanda Jinbo-cho, Chiyoda-ku, Tokyo, 101-0051, Japan</td></tr><tr><td><a href="http://www.iij.ad.jp/en/info/map/head-office.html">Location Map</a></td></tr>				
	</tbody>
</table>

{% include introductory_tutorial_abstract.html %}

<h2>Outline</h2>
<div class="ulWrapper">
	<ul>
		<li>
			<p>Introduction to the Platform</p>
				<ul>
					<li>
					<p>Users (Professors & Researchers)</p>
				</li>
				<li>
					<p>What is the NetFPGA</p>
					<ul>
						<li>Board</li>
						<li>Tools & Reference Designs</li>
						<li>Contributed Projects</li>
						<li>Community</li>
					</ul>
				</li>
			</ul>
		</li>
	
		<li>
			<p>Hardware Overview</p>
			<ul>
				<li>
					<p>NetFPGA 1G</p>
					<ul>
						<li>Gigabit Ethernet interfaces</li>
						<li>Field Programmable Gate Array (FPGA) Logic </li>
						<li>Random Access Memory (RAM)</li>
						<li>PCI interface</li>
					</ul>
				</li>
				<li>
					<p>NetFPGA 10G</p>
					<ul>
						<li>SPF+ interfaces</li>
						<li>Field Programmable Gate Array (FPGA) Logic</li>
						<li>Random Access Memory (RAM)</li>
						<li>PCIe interface</li>
					</ul>
				</li>
			</ul>
		</li>
	
		<li>
			<p>Brief recap if IP/Routing</p>
		</li>
	
		<li>
			<p>Example 1: Basic Functionality (reference router)</p>
			<ul>
				<li>
					<p>PW-OSPF</p>
				</li>
				<li>	
					<p>Routing Tables</p>
				</li>
				<li>
					<p>Dynamic re-routing</p>
				</li>
			</ul>
		</li>

		<li>
			<p>Example 2: Advanced Functionality (buffer sizing based on reference router)</p>
			<ul>
				<li>
					<p>Brief introduction of buffer sizing</p>
					<ul>
						<li>Rule-of-thumb for the buffer size</li>
						<li>Round-trip propation delay</li>
						<li>Capacity of bottlneck link</li>
						<li>Number of active flows</li>
					</ul>
				</li>	
				<li>
					<p>Additional hardware</p>
					<ul>
						<li>Event capture module</li>
						<li>Rate limiter</li>
					</ul>
				</li>
				<li>
					<p>Experiments</p>
					<ul>
						<li>Netperf</li>
						<li>HD video transport</li>
					</ul>
				</li>
			</ul>
			<p>Where to get started/What to do next</p>
			<ul>
				<li>
					<p>Webpage</p>
				</li>
				<li>
					<p>Wiki</p>
				</li>
				<li>
					<p>Forums</p>
				</li>
			</ul>
		</li>
	</ul>
</div>

<h2>About the presentors</h2>
<div class="ulWrapper">
	<ul>
		<li>{% include presentors/a_covington.html %}</li>
		<li>{% include presentors/t_yabe.html %}</li>
	</ul>
</div>

<table id="schedule">
	<caption>Schedule</caption>
	<tbody>
		<tr><td class="time">1:00</td><td class="dash">-</td><td class="time">3:00</td><td class="agendaItem">tutorial session</td></tr>
		<tr><td class="time">3:00</td><td class="dash">-</td><td class="time">3:30</td><td class="agendaItem">coffee break</td></tr>
		<tr><td class="time">3:30</td><td class="dash">-</td><td class="time">5:00</td><td class="agendaItem">tutorial session</td></tr>
	</tbody>
</table>

<h2>Registration</h2>
<div class="ulWrapper">
Before November 7, 2011: 
	<br />
	<p>	<ul><li>Student $100</li>
		    <li>Attendee $200</li>
				</ul>
	</p>
November 7, 2011 and after
	<br />
			<ul><li>Student $150</li>
		    <li>Attendee $250</li>
		</ul>
  <br/>
Students must email a copy of their Student ID to gcoving@stanford.edu:w

	<p><a href="http://www.certain.com/system/profile/form/index.cfm?PKformID=0x1160065fa42">Register here to attend</a></p>
	<br/>		
</div>
