<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/mainstyles.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/eventsmap.css" /> 
</head>
<body>

<div id="mastheadContainer">
        {% include header.html %}
</div>

<div id="navbt"></div>

<div class="mainContentWrapper">
  {{ content }}
</div>

<div id="navbt"></div>

</body>
</html>
