<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	 {% if page.title %}
	 <title>{{ page.title }} - {{ site.title }}</title>
	 {% else %}
	 <title>{{ site.title }}</title>
	 {% endif %}

   <link rel="stylesheet" href="css/mainstyles.css" type="text/css" />
</head>
<body>

<div id="mastheadContainer">
	{% include header.html %}
</div>

<div class="mainContentWrapper">
	<div id="navbt"></div>
  {{ content }}
</div>

<div id="navbt"></div>
{% include footer.html %}

</body>
</html>
